<%- include('template/cabecera',{titleWeb:`Crear nuevo archivo`})%>

<div class="nuevo">
    <h1 class="nuevo-text">Crear nueva mascota</h1>
    <form class="nuevo-form" action="/crear" method="POST">
        <div class="nuevo-input">
            <input placeholder="Nombre" type="text" name="nombre">
            <input placeholder="Edad" type="text" name="edad">
            <input placeholder="Color" type="text" name="color">
            <button type ="submit" >Enviar</button>
        </div>
    </form>
</div>

</body>
</html>