<%- include('template/cabecera',{titleWeb:`paginaOne`})%> 

        <h1 class="temas-principal">TEMAS A TRATAR  </h1>
        <h2 class="temas-principal subtema"><%= title %></h2>
        <h2 class="temas-principal subtema"><%= titleOne %> </h2>
</body>
</html>