*{
    background: darkcyan;
}
.text{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 180px;
    letter-spacing: 1px;
    text-align: center;
    color: rgb(66, 66, 66);

}