.nuevo{
    position: relative;
    width: 80%;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    top: 80px;
}

.nuevo-input{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

input{
    height: 50px;
    margin-top: 2%;
    font-size: 20px;
}

button{
    margin-top: 5%;
    font-size: 26px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    height: 55px;
    color: rgb(255, 255, 255);
    background: rgb(45, 233, 45);
}