<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/css/style.css" />
  <title><%= titleWeb %></title>
</head>
<body>

  <header class="contain-header">
    <div class="contain-seccion">
      <div class="text-seccion">
        <img class="img-seccion" src="/img/pagina-de-inicio.svg" alt="" srcset="">
        <div><a class="infor-seccion" href="/">Inicio</a></div>
      </div>
  
      <div class="text-seccion">
        <img class="img-seccion" src="/img/mesa.svg" alt="" srcset="">
        <div><a class="infor-seccion" href="/mascotas">Tabla</a></div>
      </div>
  
      <div class="text-seccion">
        <img class="img-seccion" src="/img/creador.svg" alt="" srcset="">
        <div><a class="infor-seccion" href="/crear">Creador</a></div>
      </div>
    </div>
  </header>
  
</html>